<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <!-- Camera and Photo Library permissions -->
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Give $(PRODUCT_NAME) permission to access your photos</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Give $(PRODUCT_NAME) permission to save photos</string>
  </dict>
</plist>